<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Password Reset</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>LazyTodo Password Reset</h1>
    <hr>
    <h2>Change Your Password</h2>

    <form action="#" th:action="@{/api/auth/resetPassword}" th:object="${newPasswordRequest}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{token}" />
        <label for="emailField">Enter your email address</label><br>
        <input type="text" th:field="*{email}" id="emailField" class="form-control mb-4 col-4">
        <label for="passwordField">New Password</label><br>
        <input type="text" th:field="*{password}" id="passwordField" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Change Password</button>
    </form>

    <hr>
</div>
</body>
</html>